<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @customer.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @customer.last_name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @customer.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @customer.email %>
</p>




<h1>Orders</h1>

<table>
  <thead>
    <tr>
      <th>Customer_ID</th>
      <th>product_name</th>
      <th>product_count</th>
       
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customer.orders.each do |order| %>
      <tr>
        <td><%= order.customer_id %></td>
        <td><%= order.product_name %></td>
        <td><%= order.product_count %></td>
         
        <td><%= link_to 'Show', order %></td>
        <td><%= link_to 'Edit', edit_order_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Back', customers_path %>